.pong-content {
    --background: #1e1e1e;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.pong-grid {
    grid-template-columns: repeat(17, 1fr);
    /* 17 Columns */
    aspect-ratio: 17/6;
    /* Maintain aspect ratio */
}

.score-board {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
}

.pong-ball {
    background-color: var(--ion-color-danger);
    box-shadow: 0 0 10px var(--ion-color-danger);
}

.pong-paddle-user {
    background-color: var(--ion-color-success);
    box-shadow: 0 0 10px var(--ion-color-success);
}

.pong-paddle-cpu {
    background-color: var(--ion-color-success);
    box-shadow: 0 0 10px var(--ion-color-success);
}

.game-over-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--overlay-bg);
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    backdrop-filter: blur(5px);
    border: 1px solid #444;
}